{% extends "layout.html" %}

{% block heading %}
    Create your Note
{% endblock %}

{% block body %}
    <form action="{{ url_for('edit_post') }}" method="post">
        <label for="title_text">Title:</label>
        <input type="text" id="title_text" placeholder="Insert title here" name="title" value={{title_edit}}>
        <label for="note_text">Message:</label>
        <input type="text" id="title_text" placeholder="Insert note here" name="note" value={{note_edit}}>
        <button type="save" class = btn name="name" value="save">Save</button>
    </form>

    <form action="{{ url_for('edit_post') }}" method="post">
        </br><button class = btn name="name" value="delete">Delete</button>
    </form>
{% endblock %}